{% extends "global/Page.html" %}
{% load otree %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    {% include 'global/elements/baseStyles_template.html' %}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}
    {% include 'global/elements/baseScripts_template.html' %}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
<!--loaded from proxyTitle-->
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <span id="proxyTitle">
        <span>
            <span class="langElement" lang="en">Explanation</span>
            <span class="langElement" lang="de">Erklärung</span>
        </span>

        {% include 'global/elements/exit_template.html' %}
    </span>
    <div class="box">
        <div class="card bg-light m-3">
            <div class="card-body">
                <span class="langElement" lang="en">
                    <p>
                        In the following page, you will see a {{ num_rows }}x{{ num_cols }}-matrix containing
                        {{ num_boxes }} boxes on your screen.
                    </p>
                    <p>
                        You can then mark these fields by clicking on them. For each marked field you receive you
                        {{ box_value }}.
                    </p>
                    <p>
                        However, there is a bomb hidden behind one of the fields that destroys all fields (and coins).
                        You don't know where the bomb is. All you know is that the bomb is the same Probability can be
                        hidden behind every field.
                    </p>
                    <p>
                        If you don't want to mark any more fields, you can click "Stop". Then click “Solve”. When
                        the space with the bomb has been marked, the bomb explodes and you receive nothing. Otherwise
                        you will receive the amount collected (= number of marked Fields).
                    </p>
                </span>
                <span class="langElement" lang="de">
                    <p>
                        Auf der nächsten Seite wirst du {{ num_boxes }} Felder auf deinem Bildschrim sehen.
                    </p>
                    <p>
                        Diese Felder kannst du dann markieren, indem du sie anklickst. Für jedes markierte Feld erhältst
                        du {{ box_value }}.
                    </p>
                    <p>
                        Hinter einem der Felder versteckt sich jedoch eine Bombe, die alle Felder (und Taler) zerstört.
                        Du weißt nicht, wo sich die Bombe befindet. Du weißt nur, dass die Bombe mit gleicher
                        Wahrscheinlichkeit hinter jedem Feld versteckt sein kann.
                    </p>
                    <p>
                        Wenn du keine weiteren Felder markieren möchtest, kannst du auf „Stopp“ klicken. Klicke
                        anschließend auf „Lösen“. Wenn das Feld mit der Bombe markiert wurde, explodiert die Bombe und
                        du erhältst nichts. Ansonsten erhältst du den gesammelten Betrag (= Anzahl der markierten
                        Felder).
                    </p>
                </span>
                <div>
                    {% include 'global/elements/next_template.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}